[Desktop Entry]
Name=SKYE Blossom
X-KDE-PluginInfo-Author=Jessica Skye
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=sepshuncontact@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3.0
X-KDE-PluginInfo-Name=skye-blossom
X-KDE-PluginInfo-Version=0.1
